body{
background:#0f172a;
font-family:Arial;
margin:0;
padding:0;
color:white;
}

.container{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.ats-card{
width:380px;
padding:30px;
background:#1e293b;
border-radius:15px;
text-align:center;
box-shadow:0 10px 30px rgba(0,0,0,0.5);
}

h2{
margin-bottom:20px;
}

.gauge-box{
position:relative;
width:100%;
}

.gauge{
width:100%;
}

.gauge-bg{
fill:none;
stroke:#334155;
stroke-width:12;
}

.gauge-progress{
fill:none;
stroke:#22c55e;
stroke-width:12;

stroke-dasharray:251;
stroke-dashoffset:251;

transition:stroke-dashoffset 2s ease;
}

.needle{
stroke:red;
stroke-width:4;

transform-origin:100px 100px;
transform:rotate(-90deg);

transition:transform 2s ease;
}

.center{
fill:white;
}

.score-text{
position:absolute;
bottom:10px;
left:50%;
transform:translateX(-50%);
text-align:center;
}

.score-text span{
font-size:36px;
font-weight:bold;
}

#status{
font-size:14px;
opacity:0.8;
margin-top:5px;
}